* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 30px;
    background: linear-gradient(135deg, #3a3a3a, #707070);
    background-size: cover;
    z-index: -1;

}

header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 80px;
}

header a {
    color: orangered;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
}

header a:hover {
    color: white;
    text-decoration: underline;
    transition: 01s;
}

h1 {
    color: orangered;
    cursor: pointer;
}

p {
    color: white;
    font-size: 17px;
    font-weight: bold;
    height: auto;
    margin: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

img {

    height: 500px;
    width: 500px;
    border-radius: 10px;
    margin: 30px;
    margin-left: 120px;

}



img:hover {
    transform: translate(0, -10px);
  transform: scale(1.05);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}


.link-athletica {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    left: 0;


}

.img-athletica {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    margin: 30px;
    margin-left: 120px;
    cursor: pointer;
}

.img-athletica:hover {
    transform: scale(1.05);
    transition: 0.3s;
}



@media (max-width: 718px) {

    img {
        height: 300px;
        width: 300px;
        margin-left: 0px;
    }

    p {
        font-size: 15px;
    }

}